@import url("./theme/variables.css");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

body {
  background-color: var(--bg-color);
  color: var(--white);
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1200px;
  width: 100%;
  padding: 1rem;
}

.content section {
  display: flex;
  flex-direction: column;

  max-width: 500px;
  width: 100%;
  padding: 0.625rem;
  margin: 0.625rem 0;

  border-radius: 5px;
}

.content section h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 100%;
}

.input-group input[type="text"].input-error {
  border: 2px solid var(--error-color);
}

.input-group input[type="text"] {
  width: 70%;
  padding: 1rem;

  transition: ease-in-out 0.5s;

  border: 2px solid transparent;
  border-radius: 5px;

  background-color: var(--light-gray);
  color: var(--white);

  &:hover {
    border: 2px solid var(--hover-blue);
  }
}

.input-group button {
  cursor: pointer;

  width: 30%;
  padding: 0.875rem;

  font-size: 1rem;
  font-weight: bold;

  transition: ease-in-out 0.5s;

  border: 1px solid transparent;
  border-radius: 5px;

  color: white;
  background-color: var(--accent-color);

  &:hover {
    background-color: var(--accent-hover-color);
  }
}

.error-message {
  margin-top: 0.75rem;
  color: var(--error-color);
  font-weight: 400;
}

.task-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 95%;
  padding: 1rem;
  margin-bottom: 1rem;

  background-color: var(--dark-gray);
  border: 1px solid transparent;
  border-radius: 8px;

  box-shadow: 10px 10px 13px -10px var(--shadow-color);
}

.task-card div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.125rem;
}

i {
  width: 20px;
  height: 20px;
}

.task-card div i {
  cursor: pointer;

  transition: ease-in-out 0.4s;

  border: 1px solid transparent;
  border-radius: 99px;

  color: var(--ligther-gray);

  &:hover {
    color: var(--hover-gray);
  }
}

.task-card div i.task-done {
  color: var(--success-color);

  &:hover {
    opacity: 0.8;
  }
}

.task-card div p {
  max-width: 380px;
  width: auto;
  font-weight: 300;
}

.task-done {
  text-decoration: line-through;
  color: var(--disabled-gray);
}

#divide {
  background-color: var(--divider-color);
  height: 2px;
  width: 100%;

  border-radius: 18px;
}

.empty-state {
  margin-top: 2.5rem;
}

.empty-state p {
  font-weight: 400;
  color: var(--disabled-gray);
}

.remove-task-icon {
  cursor: pointer;

  transition: ease-in-out 0.5s;

  color: var(--remove-icon-color);

  &:hover {
    color: var(--remove-icon-hover-color);
  }
}
